a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    background-color: black
    
}



article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: #fff;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 70%;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.35em;
    font-size: 0.75em;
}

/*
svg {
    overflow: hidden;
}
*/

input, button, submit { 
    border:none; } 

h1 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: -0.0em;
    line-height: 33px;
    font-size: 30px;
    color: #fff;
}

h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.00em;
    color: #fff;
    
}

h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.00em;
    color: #fff;
    }

h4 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13em;
    line-height: 1.4em;
    font-weight: 400;
}

h5 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13em;
    line-height: 1.4em;
    font-weight: 700;
}

h6 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #999;
    font-weight: 400;
    font-size: 11em;
    line-height: 1.25;
}
 
p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: #fff;
}
 

header{
    position: relative;
}

.title{
    width: 1300px;
    margin-left: 22px;
    margin-top: 18px;
    position: relative;
}

/*
.title h1:nth-of-type(2){
    position: fixed;
    top: 10px;
    right: 20px;
    margin-left: 0px;
}
*/

/*
.title h1:nth-of-type(3){
    position: fixed;
    top: 10px;
    right: 30px;
    margin-left: 0px;
}
*/

.title indent{
    margin-left: 80px;
}

.sub{
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 400;
    position: relative;
    top: 18px;
    right: 26px;
    margin-left: px;
}

.sub1 a:hover{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 2px;

}

.sub2:hover{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 2px;
    
}

.sub3:hover{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 2px;
    
}

.para{
position: relative;
width: 800px;
margin-left: 22px;
padding-top: 50px;

}
/*
.menu{
    margin-top: 110px;
    margin-left: 30px;
    color: #fff;
    padding-bottom: 30px
}

.menu h2{
    position: relative;
    clear: both;
    
    
}
*/

/*
.menu h2:nth-of-type(3){
    position: fixed;
    top: 16px;
    right: 30px;
    margin-left: 0px;
    font-size: 60px

}
*/

html, body{
    height: 100%
}


/*
.main{
    overflow: hidden;
}
*/


    
}

.gallery {
    width: calc(100% - 545px);
    margin-left: 100px;
    
}

.background {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;      
    
}



.gallery img{
    width: calc(100% - 20px);
    position: relative;
    left: 50%;
    top: 50px;
    bottom: 110px;
    transform: translate(-50%,0%);
    margin-right: 30px;
    padding-bottom: 30px;
    
}

.gallery:nth-of-type(1){
    margin-top: 0px;
}



