a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: black   
    
}


article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: #fff;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 70%;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.35em;
    font-size: 0.75em;
}


input, button, submit { 
    border:none; } 

h1 {
    font-family: "favorit", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-size: 40px;
    color: #fff;
}

h2 {
    font-family: "favorit", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #fff;
    
}

h3 {
    font-family: "favorit", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.00em;
    color: #fff;
    }

h4 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13em;
    line-height: 1.4em;
    font-weight: 400;
}

h5 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13em;
    line-height: 1.4em;
    font-weight: 700;
}

h6 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #999;
    font-weight: 400;
    font-size: 11em;
    line-height: 1.25;
}
 
p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: #fff;
}
 
header{
    position: relative;
}

.title{
    margin-left: 25px;
    margin-top: 20px;
    position: relative;
    width: 20
}

.title1 a{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 0px;
}

.title1 a:hover{
    border-width: 0 0 2px;
}


.caption indent{
    margin-left: 0px;
}

.caption h3{
    position: relative;
    margin-left: 20px;
    width: 50%
}

.sub{
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 400;
    position: absolute;
    top: 0px;
    right: 25px;
    margin-left: 20px;
}

.sub1 a{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 0px;
}

.sub1 a:hover{
    border-width: 0 0 2px;
}

.mob{
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 400;
    position: absolute;
    top: 0px;
    right: 25px;
    margin-left: 20px;
}

.mob1 a{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 0px;
}

.mob1 a:hover{
    border-width: 0 0 2px;
}

.menu{
    margin-top: 50px;
    margin-left: 25px;

}

.menu h3{
    float: left;
    padding-bottom: 20px;
}

.menu h3:nth-of-type(1){
    padding-right: 70px;
}

.menu h3:nth-of-type(1){
    float: left;
}

.menu h3:nth-of-type(2){
    padding-right: 70px;
}

.menu h3:nth-of-type(2){
    float: left;

}

.menu h3:nth-of-type(3){
    padding-right: 70px;
}

.menu h3:nth-of-type(3){
    float: left;
}

.menu h3:nth-of-type(4){
    padding-right: 50px;
}

.menu h3:nth-of-type(4){
    float: left;
}


.menu indent{
    margin-left: 25px;
}

.menu a{
    text-decoration: underline;
}

.contentwrapper{
    padding: 25px 25px 25px 25px;
    position: relative;
    clear: both;
}

.main-carousel{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 17px;
}

.carousel-cell{
    width: 100%;
    position: relative;
}

.carousel-cell img{
    display: block;
    height: 100%;
}


.main-carousel img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
}

.footer{
    margin-left: 25px;
    padding-bottom: 25px;
    bottom: 25px;
    position: relative;
}

.footer1 a{
    border: 2px solid #000;
    border-color: #fff;
    border-width: 0 0 0px;
}

.footer1 a:hover{
    border-width: 0 0 2px;
}


html, body{
    height: 100%
}
